@import url('https://fonts.googleapis.com/css?family=Righteous');

/**
 * ColorScheme:
 * 
 * Dark Gray / Pantone 419: #282821
 * Light Gray / Pantone 537: #C4C6CE
 * Prominent color 1 - Red / Pantone 1785: #FC4F59
 * Prominent color 2 - Yelow / Pantone 122 #FCD856
 * Prominent color 3 - Blue / Pantone 313: #0099B5
 **/

/** General **/
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

/** Headers **/
h1, h3{
    font-family: 'Righteous', cursive;
    color: rgba(0,153,181,1);
    Position: absolute;
    z-index: 9999;
}

/** Desktop view **/
@media screen and (min-width: 481px) {
    h1 {
        font-size: 3em;
        top : 1em;
        left : 2em;
    }
}

/** Mobile view **/
@media screen and (max-width: 480px) {
    h1 {
        font-size: 2em;
        top : 0em;
        left : 1em;
    }
}
