@import url('https://fonts.googleapis.com/css?family=Days+One');

/** Updated color scheme: https://coolors.co/ffef00-541388-f00699-f75c03-39ff14 **/

/** General **/
html, body {
	height: 100%;
	margin: 0;
	padding: 0;
	font-family: 'Days One', sans-serif;
	font-size: 14px;
	background-color: #ffffff;
	overflow: hidden;
}
body {
	position: absolute;
	top: 0px;
	bottom: 0px;
}

/** Headers **/
h1, h2, h3{
	color: #fff;
	z-index: 9999;
	margin: 0;
}
h1 { font-size: 3em; }
h2 { font-size: 1.1em; }

/** Overlays **/
.overlay {
	background-color: #F00699;
	position: absolute;
	transform: translateX(-50%) translateY(-50%) skew(-9deg);
	height: 200%;
	overflow: hidden;
}
#overlay1 { width: 620px; }
#overlay2 { width: 200px; right: -300px; }

/** Info box location **/
#info {
	Position: absolute;
	top : 1em;
	left : 1em;
	z-index: 9999;
}

/** Map **/
#map {
	height: 100%;
	z-index: 25;
	mix-blend-mode: multiply;
}
